@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

.header {
  font-size: 40px;
  font-family: 'roboto', sans-serif;
}
